<h1>Sub#Second</h1>

<h1><%= @sub %> got a max score of <%= @maxu %></h1>

   
<%= form_with url: '/score/list', method: :get, data:{turbo:false} do |form| %>
   
    <%= form.submit "Overall score" %>
<% end %>